.imageCont {
    display: flex;
    position: relative;
}

.image {
    margin: 0 auto;
    border-radius: 20px;
}

.leftButton,
.rightButton {
    position: absolute;
    top: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
}



.rightButton {
    right: 10px;
}